<h3>Iniciar Sesión</h3>

<form action="/admin" method="POST">

  <label for="username"><b>Nombre de usuario</b></label>   
  <input type="text" placeholder="Introduzca su nombre de usuario" name="username">

  <label for="password"><b>Contraseña</b></label>   
  <input type="text" placeholder="Introduzca su contraseña" name="password">

  <input type="submit" value="Acceso" class="btn">

</form>
<!--
<h3>Registrarse</h3>
<form action="/register" method="POST">

    <label for="username"><b>Nombre de usuario</b></label>   
    <input type="text" placeholder="Introduzca su nombre de usuario" name="username">
  
    <label for="password"><b>Contraseña</b></label>   
    <input type="text" placeholder="Introduzca su contraseña" name="password">
  
    <input type="submit" value="Registrarse" class="btn">
  
  </form>
  -->