<footer class="footer">
    
  &copy; <%= new Date().getFullYear();  %> Todos los derechos reservados ● Diseñado por <a class="diseñador" target="_blank" href="https://www.marcelajimenez.es/">Marcela Jimenez</a>
</footer>