


<header class="header">
   
 <a href="/admin" class="header_logo">Panel de administrador</a>

 <nav class="header_nav">
    <ul>
      <li><a href="/" class="">Inicio</a></li>
       <li><a href="/sobremi" class="">Sobre mí</a></li>
       <li><a href="" class="">Evidencias</a></li>
       <li><a href="" class="">Publicaciones</a></li>
       <li><a href="/contacto" class="">Contacto</a></li>
      
    </ul>

 </nav>
<div class="header__button">
   <a href="/logout">
      Cerrar Sesión
   </a>
</div>




</header>