<div class="mail_contacto">

<h2>Contacto</h2>

<h3>Puedes comunicarte conmigo para cualquier tema de tu interés aquí</h3>
<div class="mail">
<a href="mailto:ingridjimenez113@gmail.com">
    <span class="elementor-icon-list-icon">
     <i aria-hidden="true" class="far fa-envelope">
      
     </i>   
    </span>
    <span class="elementor-icon-list-text">ingridjimenez113@gmail.com</span>
</a>
 </div>