
<div class="container-imagenPrincipal">
<h2 class="frase-imagenPrincipal">Mi blog</h2><h2 class="frase-imagenPrincipal2">Tu espejo</h2><img src="img/Imagen1.jpg" alt="Imagen principal" class="hero-image" width="981" height="528">
</div>

<section class="articles">
   <h2 class="article_heading">Últimas Publicaciones</h2>

   <ul class="article-ul">

    <% data.forEach(post => { %>
    <li>
        <a href="/post/<%= post._id %>">
            <span><%= post.title  %></span>
            <span class="article-list_date"><%= post.createdAt.toDateString()  %></span>
        </a>
    </li>
    <% }) %>   
   </ul>


   <% if (nextPage !== null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">&lt; Ver publicaciones anteriores</a>
   <% } %>

  
</section>
