
<div class="container-imagenPrincipal">
<h2 class="frase-imagenPrincipal">Mi blog</h2><h2 class="frase-imagenPrincipal2">Tu espejo</h2><img src="img/Imagen1.jpg" alt="Imagen principal" class="hero-image" width="981" height="528">
</div>

<section class="articles">
   <h2 class="article_heading">Últimas Publicaciones</h2>

   <ul class="article-ul">
    <li>
        <a href="#">
            <span>Post Title</span>
            <span class="article-list_date">Fecha</span>
        </a>
    </li>

    <li>
        <a href="#">
            <span>Post Title</span>
            <span class="article-list_date">Fecha</span>
        </a>
    </li>

    <li>
        <a href="#">
            <span>Post Title</span>
            <span class="article-list_date">Fecha</span>
        </a>
    </li>
    
   </ul>

   <a href="#" class="pagination">&lt; Ver publicaciones anteriores</a>
</section>
