<div class="sobremi">
    
        <div class="overlay"></div>
       
        <div class="contenedor-descripcion1">
        <h1>Sobre mí</h1>
        <h2 class="titulo2">Conóceme</h2>
       
        <p class="descripcion1-sobremi">Hola, soy Patxi, el hombre que está en uno de los dos espejos de este blog; tú puedes ponerte delante del mismo espejo o bien delante del otro.
            <br> </br>
            Yo estoy en el espejo de la edad adulta y mayor, he dejado libre mi lugar en el espejo de la infancia, la adolescencia y  la juventud.
        </br>
    
    </br>Por esta razón, puedo ver en perspectiva como ha sido mi vida en el otro espejo y también como ha sido la vida de las personas que he conocido y aquellas que han tenido el mismo ciclo vital.</br>
    </br>
            También puedo ver como son las circunstancias de vida en las personas que están en el espejo de la infancia, la adolescencia y la juventud.
            Es evidente la diferencia entre ambos espejos que yo puedo ver y evidenciar con mis experiencias, pero también es evidente que los niños, adolescentes y jóvenes actuales, no pueden tener esa misma perspectiva de ambas condiciones de vida.</p>
       
            <img class="img-sobremi" src="img/silueta01.jpg">
       
        </div>

        
</div>